!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Find out how SaaScap.com can help your company finance growth by providing debt capital. Growth Capital. Delivered. Seamlessly. Start your financing today."}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "/assets/favicon.ico", rel: "shortcut icon"}
    %title="SaaScap"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    = render "layouts/topbar"
    = render "layouts/flash"
    = yield
    = render "layouts/footer"
    = javascript_include_tag "application"